<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
id="WebApp_ID" version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>/invalidscript/*</url-pattern>
  		<el-ignored>true</el-ignored>
  		<scripting-invalid>true</scripting-invalid>
  	</jsp-property-group>
  </jsp-config>
</web-app>
